@import "tailwindcss";

@theme {
  --color-light-blue-50: #f0f9ff;
  --color-light-blue-100: #e0f2fe;
  --color-light-blue-200: #bae6fd;
  --color-light-blue-300: #7dd3fc;
  --color-light-blue-400: #38bdf8;
  --color-light-blue-500: #0ea5e9;
  --color-light-blue-600: #0284c7;
  --color-light-blue-700: #0369a1;
  --color-light-blue-800: #075985;
  --color-light-blue-900: #0c4a6e;
}

@layer base {
  body {
    @apply bg-light-blue-50 text-slate-800;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 9999px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #94a3b8;
  }
}